<!DOCTYPE html>
<html>
	<head>
		<title>Prima Weather APP</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
		<style>
		body {
  			background-color: #f8deff;
		}
		</style>
	</head>
	<body>
		<center>
			<h1>Prima Weather APP</h1>
<br>
			<h1>Search up a place</h1>
<br>
			<form action="/results" method="GET">
				<input type="text" placeholder="Search city" name="city">
				<input type="submit">
			</form>
		</center>
	</body> 
</html>